* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  margin:0;
}
.background_azul {
  width: 100%;
  height: 150px;
  background: rgba(16,24,32,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.label_Titulo {
  width: 197px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 10%;
  left: 44%;
  font-family: Kyiv*Type Serif;
  font-weight: Regular2;
  font-size: 55px;
  opacity: 1;
  text-align: center;
}
.label_Subitulo {
  width: 52px;
  color: rgba(255,215,0,1);
  position: absolute;
  top: 50%;
  left: 48%;
  font-family: Inter;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.fondoazul {
  
  background: rgba(16,24,32,1);
  width: 100%;
  height: 84%;
  opacity: 1;
  position: absolute;
  top: 150px;
  left: 0px;
  overflow: hidden;
}
.img_circulito{
  background-image: url("../images/check.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 60%;
  left: 21%;
  top: 20%;
  width: 65%;
  position: absolute;
  overflow: hidden;
  border-top-left-radius: 250px;
  border-top-right-radius: 250px;
  border-bottom-left-radius: 250px;
  border-bottom-right-radius: 250px;
}
.circulito {
  width: 180px;
  height: 180px;
  background: rgba(0,160,157,1);
  opacity: 1;
  position: absolute;
  top: 67px;
  left: 45%;
  border-top-left-radius: 250px;
  border-top-right-radius: 250px;
  border-bottom-left-radius: 250px;
  border-bottom-right-radius: 250px;
  overflow: hidden;
}
.lbl_big {
  width: 30%;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 40%;
  left: 34%;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 35px;
  opacity: 1;
  text-align: center;
}
.lbl_small {
  width: 30%;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 50%;
  left: 34%;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
